In [2]:
import numpy as np

In [6]:
x = np.arange(1, 10)
add_reduce = np.add.reduce(x) # sum of all elements
mult_reduce = np.multiply.reduce(x) # product of all elements
add_acc = np.add.accumulate(x) 
mult_acc = np.multiply.accumulate(x)

x, add_reduce, mult_reduce, add_acc, mult_acc

(array([1, 2, 3, 4, 5, 6, 7, 8, 9]),
 45,
 362880,
 array([ 1,  3,  6, 10, 15, 21, 28, 36, 45]),
 array([     1,      2,      6,     24,    120,    720,   5040,  40320,
        362880]))

In [5]:
np.multiply.accumulate(np.arange(1, 10, 1)) # returns factorial of each index

array([     1,      2,      6,     24,    120,    720,   5040,  40320,
       362880])

In [8]:
# outer products
x = np.arange(1, 11)
np.multiply.outer(x, x) # multiplication table

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20],
       [  3,   6,   9,  12,  15,  18,  21,  24,  27,  30],
       [  4,   8,  12,  16,  20,  24,  28,  32,  36,  40],
       [  5,  10,  15,  20,  25,  30,  35,  40,  45,  50],
       [  6,  12,  18,  24,  30,  36,  42,  48,  54,  60],
       [  7,  14,  21,  28,  35,  42,  49,  56,  63,  70],
       [  8,  16,  24,  32,  40,  48,  56,  64,  72,  80],
       [  9,  18,  27,  36,  45,  54,  63,  72,  81,  90],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]])

In [ ]:
L = np.random.random(1_000_000)

In [ ]:
%timeit sum(L)
%timeit np.sum(L)

In [ ]:
%timeit max(L)
%timeit np.max(L)

In [ ]:
np.min(L), np.max(L)

In [9]:
L.min(), L.max() # alias to above

NameError: name 'L' is not defined

In [ ]:
M = np.random.random((4, 4))
M.sum() # agregates thought intire array

In [ ]:
res = [
    np.sum(M, axis=0), # sum of all cols
    np.max(M, axis=1), # max of all rows
    M.min(),
]
print(M)
print([r for r in res], sep='\n')

In [12]:
x = np.arange(10)
print("x     =", x)
print("x.max =", x.max())
print("x.min =", x.min())
print("x.prod =", x.prod())
print("x.mean =", x.mean())
print("x.std  =", x.std())
print("x.var  =", x.var())
print("x.median =", np.median(x))
print("x.percentile 25 =", np.percentile(x, 25))

x     = [0 1 2 3 4 5 6 7 8 9]
x.max = 9
x.min = 0
x.prod = 0
x.mean = 4.5
x.std  = 2.8722813232690143
x.var  = 8.25
x.median = 4.5
x.percentile 25 = 2.25